<div class="modal" *ngIf="isOpen" (click)="onBackdropClick($event)">
  <div class="modal-content">
    <div class="close-modal">
      <span class="close-btn" (click)="closeModal()">&times;</span>
    </div>
    <p class="modal-text">Update your data!</p>
    <form class="login-form" #loginForm="ngForm" (ngSubmit)="submit(password.value)">
      <div class="form-group password-group">
        <label for="password">Password</label>
        <div class="password-wrapper">
          <input id="password" name="password" [type]="passwordVisible ? 'text' : 'password'" #password="ngModel" ngModel required minlength="8" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d).+$"/>
          <i (click)="togglePasswordVisibility()" [class]="passwordVisible ? 'fa-solid fa-eye-slash' : 'fa-solid fa-eye'"></i>
        </div>
      </div>
      <div *ngIf="password.invalid && password.touched" class="error">
        <div *ngIf="password.errors?.['required']">Password is required.</div>
        <div *ngIf="password.errors?.['minlength']">Password must be at least 8 characters.</div>
        <div *ngIf="password.errors?.['pattern']">Password must contain at least one uppercase letter, one lowercase letter, and one number.</div>
      </div>
      <button type="submit" [disabled]="!loginForm.form.valid">Submit</button>
    </form>
    <p *ngIf="errorMessage" class="error-message">{{ errorMessage }}</p>
  </div>
</div>
