<div class="container-fluid">
  <div class="nav-btns">
    <ul>
      <li class="nav-btn" routerLinkActive="active">
        <a class="nav-link home" routerLink="/adminOrders">Orders</a>
      </li>
      <li class="nav-btn" routerLinkActive="active">
        <a class="nav-link prods" routerLink="/adminProducts">Products</a>
      </li>
      <li class="nav-btn" routerLinkActive="active">
        <a class="nav-link" routerLink="/adminCoaches">Coaches</a>
      </li>
      <li class="nav-btn" routerLinkActive="active">
        <a class="nav-link" routerLink="/adminUsers">Users</a>
      </li>
      <li class="nav-btn" routerLinkActive="active">
        <a class="nav-link" routerLink="/adminBranches">Branches</a>
      </li>
      <li class="nav-btn" routerLinkActive="active">
        <a class="nav-link" routerLink="/adminMessages">Messages</a>
      </li>
      <li class="nav-btn" routerLinkActive="active">
        <a class="nav-link" routerLink="/adminVouchers">Vouchers</a>
      </li>
      <li class="nav-btn" routerLinkActive="active">
        <a class="nav-link" routerLink="/adminCategories">Categories</a>
      </li>
      <li class="nav-btn" routerLinkActive="active">
        <a class="nav-link" routerLink="/adminMemberships">Memberships</a>
      </li>
    </ul>
  </div>
</div>
