.no-result {
  background-color: #f8f8f8;
  height: 400px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: 2rem;
}

.no-result i{
  font-size: 100px;
  color: #a29bfe;
  margin-bottom: 1rem;
}

.no-result-text{
  font-size: 1.2rem;
  font-weight: 600;
  color: #333;
  margin-bottom: 1rem;
}

.no-result-btn{
  background-color: #ffbe0b;
  color: #000;
  padding: 0.8rem 2rem;
  border: none;
  border-radius: 25px;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.no-result-btn:hover{
  background-color: #faa307;
}

.products-container {
  display: flex;
}

.products-content {
  padding-left: 50px;
}
