.skeleton-card{
  background: #f5f5f5;
  border-radius: 8px;
  padding: 16px;
  width: 200px;
  height: 300px;
  margin: 0px 10px 20px 10px;
}

.skeleton{
  background: #ddd;
  border-radius: 4px;
  margin: 10px 0;
  height: 16px;
}

.skeleton-avatar{
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin: 10px;
}

.skeleton-name{
  width: 70%;
}

.skeleton-price{
  width: 50%;
}

.skeleton-info{
  width: 60%;
}

@media (max-width: 1150px) {
  .skeleton-card {
    width: 130px;
    height: 200px;
  }

}
