<div class="sidebar">
  <div class="filter-section">
    <h6>View</h6>
    <div class="view-buttons">
      <button class="grid-btn" [ngClass]="{'active': viewMode === 'grid'}" (click)="changeViewMode('grid')">
        <i class="fa-solid fa-grip" style="color: #000000;"></i>
        Grid
      </button>
      <button class="list-btn" [ngClass]="{'active': viewMode === 'list'}" (click)="changeViewMode('list')">
        <i class="fa-solid fa-bars" style="color: #000000;"></i>
        List
      </button>
    </div>
    <hr />
  </div>
  <div class="filter-section">
    <h6>Sort By</h6>
    <select id="sort" name="sort" (change)="onSortChange($event)">
      <option value="" disabled selected>Select sort option</option>
      <option value="price-asc">Price: Low to High</option>
      <option value="price-desc">Price: High to Low</option>
      <option value="newest">Newest</option>
    </select>
    <hr />
  </div>
  <div class="filter-section">
    <h6>Filter</h6>
    <div class="price-range">
      <label for="min-price">Min Price:</label>
      <input type="number" id="min-price" [(ngModel)]="minPrice" placeholder="0" min="0" />
      <label for="max-price">Max Price:</label>
      <input type="number" id="max-price" [(ngModel)]="maxPrice" placeholder="1000000" min="0" />
    </div>
    <div>
      <input type="checkbox" id="free-shipping" [(ngModel)]="freeShipping" />
      <label for="free-shipping">Free Shipping</label>
    </div>
    <div>
      <input type="checkbox" id="discount" [(ngModel)]="hasDiscount" />
      <label for="discount">Discount</label>
    </div>
    <button class="filter-btn" (click)="applyFilters()">Filter</button>
  </div>
</div>
