.empty-wishlist {
  background-color: #f8f8f8;
  height: 400px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: 2rem;
}

.empty-wishlist i{
  font-size: 100px;
  color: #a29bfe;
  margin-bottom: 1rem;
}

.empty-wishlist-btn{
  background-color: #ffbe0b;
  color: #000;
  padding: 0.8rem 2rem;
  border: none;
  border-radius: 25px;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.empty-wishlist-btn:hover{
  background-color: #faa307;
}

.empty-wishlist-text{
  font-size: 1.2rem;
  font-weight: 600;
  color: #333;
  margin-bottom: 1rem;
}

.wishlist-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(233, 233, 233);
}

.wishlist-header {
  width: 950px;
  padding: 20px;
  margin-top: 20px;
  font-size: 1.5rem;
  font-weight: 700;
  border-radius: 20px;
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.filled-wishlist {
  background-color: rgb(233, 233, 233);
  display: flex;
  justify-content: center;
  width: 100%;
}

.filled-wishlist table {
  width: 800px;
  max-width: 100%;
}

.wishlist-header p{
  margin: 0px;
}

table{
  margin-top: 20px;
}

td{
  margin-bottom: 10px;
}

.clear-btn{
  border: none;
  border-radius: 50px;
  background-color: rgb(91, 91, 91);
  color: rgb(255, 255, 255);
  font-size: 0.8rem;
  font-weight: 700;
  padding: 5px 20px;
}

.clear-btn:hover{
  background-color: rgb(70, 70, 70);
}

@media (max-width: 1024px) {
  .wishlist-header {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    font-size: 1.3rem;
    padding: 15px;
  }

  tr{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
  }

  .clear-btn {
    align-self: flex-end;
    padding: 5px 16px;
    font-size: 0.75rem;
  }

  .filled-wishlist table {
    width: 95%;
  }
}
