.modal {
  display: flex;
  position: fixed;
  justify-content: center;
  align-items: center;
  z-index: 110;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: #ffffff;
  width: 700px;
  max-width: 90%;
  padding: 30px 30px 40px;
  border-radius: 16px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1);
  position: relative;
  animation: fadeIn 0.3s ease;
}

.modal-body h2 {
  margin-top: 0;
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: 20px;
}

.close-modal {
  position: absolute;
  top: 16px;
  right: 20px;
  z-index: 11;
}

.close-btn {
  color: #333;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
  transition: color 0.2s ease;
}

.close-btn:hover {
  color: #ff3b3b;
}

.address-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
  padding: 0 10px;
}

select {
  width: 250px;
  padding: 10px 14px;
  border-radius: 10px;
  border: 1px solid #ccc;
  font-size: 1rem;
  background-color: white;
  transition: border-color 0.3s;
}

select:focus {
  outline: none;
  border-color: #a270f0;
  box-shadow: 0 0 0 2px rgba(162, 112, 240, 0.1);
}

.form-sub-group {
  display: flex;
  flex-direction: column;
}

.form-sub-group label {
  font-weight: 600;
  margin-bottom: 3px;
  color: #333;
}

.form-sub-group input {
  width: 250px;
  padding: 7px 10px;
  border-radius: 10px;
  border: 1px solid #ccc;
  font-size: 0.9rem;
  transition: border-color 0.3s;
}

.form-sub-group input:focus {
  outline: none;
  border-color: #a270f0;
  box-shadow: 0 0 0 2px rgba(162, 112, 240, 0.1);
}

.error{
  color: #d9534f;
  font-size: 0.8rem;
  margin-top: 5px;
  font-weight: 600;
}

.submit-section{
  display: flex;
  justify-content: center;
  align-items: center;
}

.submit-btn {
  background-color: #ffbb00;
  color: #000;
  font-weight: 700;
  width: 50%;
  padding: 10px 5px;
  margin-top: 10px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
}


.submit-btn:disabled {
  background-color: #aaa;
  cursor: not-allowed;
}

.submit-btn:hover:not(:disabled) {
  background-color: #f0a800;
}
